$main: #00408b;
$main_light: #4a90e2;
$sec: #d0021b;
$three: #f5a623;
$three_light: #fff2dc;
$grry: #c8c8c8;
$grey_light: #e1e1e1;
$grey_white: #f2f2f2;
$grey_dark: #757575;
$light: #fff;
$dark: #000;
